@import url('https://fonts.cdnfonts.com/css/termina-test');
@import url('https://fonts.cdnfonts.com/css/kepler-std');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply text-gray-900 bg-white font-termina;
  }

  .using-mouse * {
    outline: none !important;
  }


  .kepler-title {
    font-family: 'Kepler Std', sans-serif;
  }

.zuleika-text-color {
    color: rgb(190, 59, 37);
  }

  .zuleika-bg {
    background-color: rgb(190, 59, 37);
  }



}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
  }
}
