@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply text-gray-900 bg-white;
    font-family: 'Kepler Std';
  }

  .using-mouse * {
    outline: none !important;
  }

  .zuleika-text-color {
    color: rgb(190, 59, 37)
  }

}
